# === BACKEND (Spring Boot v nas_backend/) ===
nas_backend/target/
nas_backend/.mvn/
nas_backend/HELP.md
!**/src/main/**/target/
!**/src/test/**/target/

# === FRONTEND (React v nas_frontend/) ===
nas_frontend/node_modules/
nas_frontend/dist/
nas_frontend/.env.local
nas_frontend/.env.development.local
nas_frontend/.env.test.local
nas_frontend/.env.production.local
nas_frontend/npm-debug.log*
nas_frontend/yarn-debug.log*
nas_frontend/yarn-error.log*

# === IDEs & Vývojářské nástroje (celý projekt) ===
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### App props ####
nas_backend/src/main/resources/application.properties
