spring.application.name=nas

# conneting to PostgreSQL db
spring.datasource.url=jdbc:postgresql://localhost:5432/nas
spring.datasource.username=<<user>>
spring.datasource.password=<<password>>

# JPA / Hibernate config
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# turn off Open-In-View (better db performance)
spring.jpa.open-in-view=false


# browser will not send JSESSIONID from foreign web pages (CSRF protection)
server.servlet.session.cookie.same-site=strict

# production version with HTTPS -> true
server.servlet.session.cookie.secure=false

spring.servlet.multipart.max-file-size=10GB

spring.servlet.multipart.max-request-size=10GB


# Nastavení platnosti cookie ('m' pro minuty, 'h' pro hodiny, 'd' pro dny)
server.servlet.session.timeout=1d
app.security.remember-me-time=7d
app.security.standard-logout-time=30m
# jak dlouho prohlížeč uchovává to cookie v paměti u klienta (i po restartu; ukládá na disk)
# i když na serveru bude nastaven čas na míň tak u klienta zůstane a server to pak odmítne, že je neplatná cookie (401 Unauthorized)
server.servlet.session.cookie.max-age=7d
# Spring také automaticky provádí aktualizaci hlavičky u prohlížeče

